body.index{
  background-color:#f4f4f4;
  margin-left:3.5vw;
}

/*index page*/
@font-face {
  font-family: 'dhyana regular';
  font-style: normal;
  font-weight: normal;
  src: local('Dhyana-Regular.woff'), url('https://cdn.glitch.global/40de2670-d958-4146-8e75-6f18957a507c/Dhyana-Regular.woff?v=1644128774345') format('woff');
    }

a:link{text-decoration:none;color:#000000;}
a:visited{color: #000000;}
a:hover{color: #0000ff;}

.labtitle{
  font-family: "dhyana regular",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22vw;
  line-height: 85%;
  margin-top: 5vw;
  margin-bottom: 1vw;
  text-align: center;  
}

.studionav{
  text-align:right;
  position:fixed;
  left: 2vw;
  top: 1vw;
  line-height: 170%;
  font-family: "dhyana regular",sans-serif;
  font-style: normal; font-weight: normal; font-size: 2.5vw;
}

.classnav{
  position:fixed;
  right: 2vw;
  top: 1vw;
  line-height: 170%;
  font-family: "dhyana regular",sans-serif;
  font-style: normal; font-weight: normal; font-size: 2.5vw;
}

#one{
  font-family: 'Abel', sans-serif;
  font-size: 8vw;
  position: absolute; left: 17vw;
}

#one:hover {cursor: help;}

#two{
  font-family: 'Abel', sans-serif;
  font-size: 8vw;
  position: absolute; left: 35vw;
}

#two:hover {cursor: help;}

#three{
  font-family: 'Abel', sans-serif;
  font-size: 8vw;
  position: absolute; right: 37vw;
}

#three:hover {cursor: help;}

#four{
  font-family: 'Abel', sans-serif;
  font-size: 8vw;
  position: absolute; right: 18vw;
}

#four:hover {cursor: help;}

h1{
  font-family: 'abel', sans-serif;
  font-size: 5vw;
  line-height: 85%;
  margin: 0%;
}

h2{
  font-family: 'abel', sans-serif;
  font-size: 1vw;
}

#oneinfo{width: 24vw; position: absolute; left: 17vw; top: 34vw;
  padding: 1vw 1vw 1vw 1vw;
  border-radius: 30px;
  outline: dotted;
  display:none;
}

#twoinfo{width: 25vw; position: absolute; left: 35vw; top: 34vw;
  padding: 1vw 1vw 1vw 1vw;
  border-radius: 30px;
  outline: dotted;
  display:none;
}

#threeinfo{width: 21vw; position: absolute; right: 37vw; top: 34vw;
  padding: 1vw 1vw 1vw 1vw;
  border-radius: 30px;
  outline: dotted;
  display:none;
}

#fourinfo{width: 24vw; position: absolute; right: 18vw; top: 34vw;
  padding: 1vw 1vw 1vw 1vw;
  border-radius: 30px;
  outline: dotted;
  display:none;
}

.blue{color:blue;}
.black{color:black;}

@media only screen and (max-width: 428px) {
  
  body{background-color: #f4f4f4;}
  
  .studionav{font-size: 25px; left: 5vw;} .classnav{font-size: 25px; right: 5vw;}
  .labtitle{font-size: 105px; margin-top: 35vw;}
  #one{font-size: 80px;position: absolute;left: 21vw;top: 66vw} 
  #two{font-size: 80px;position: absolute;right: 21vw;top: 66vw;left: auto !important;} 
  #three{font-size: 80px; position: absolute;left: 21vw; top: 99vw;} 
  #four{font-size: 80px;position: absolute;right: 21vw;top: 99vw;}
  h1{font-size: 30px;} h2{font-size: 14px;}
  
  #oneinfo{width: 53vw;position: absolute;left: 21vw; top: 90vw; padding: 7px; background: #f4f4f4; outline-width: thin;}
  #twoinfo{width: 53vw;position: absolute; right: 21vw; top: 90vw;left: auto !important; padding: 7px; background: #f4f4f4; outline-width: thin;}
  #threeinfo{width: 53vw;position: absolute; left: 22vw; top: 125vw;right: auto !important; padding: 7px; background: #f4f4f4; outline-width: thin;}
  #fourinfo{width: 53vw;position: absolute; right: 22vw; top: 125vw; padding: 7px; background: #f4f4f4; outline-width: thin;}
  
}