body{
  padding-top:0px
}

.maps{
  background-color:#e899e6;
  position: absolute;
  left:0%; 
  top:0%;
  width: 33.3%;
  height:100%;
}

h1{
  font-family: 'Ubuntu Mono', monospace;
  color: #ffffff;
  position: absolute;
  left:29%; 
  top:43%;
}

.sheets{
  background-color:#8ff166;
  position: absolute;
  left:33.3%; 
  top:0%;
  width: 33.3%;
  height:100%;
}

#sheets{
  font-family: 'Ubuntu Mono', monospace;
  color: #000000;
  position: absolute;
  left:29%; 
  top:43%;
}

.spotify{
  background-color:#0000ff;
  position: absolute;
  left:66.6%; 
  top:0%;
  width: 33.3%;
  height:100%;
}

h2{
  font-family: 'Ubuntu Mono', monospace;
  color: #000000;
  position: absolute;
  font-size: 20px;
  left:2%;
}
