body{background-color:#f4f4f4;}

@font-face {    font-family: 'dhyana';
    src: url('Users/Jasmine/Documents/GitHub/Dhyana/Dhyana-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  
h1{
  font-family: dhyana,sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 270px;
}
